<div class="container" [@fadeInOnEnter]>
  <div
    class="call-to-action"
    (mouseover)="onLinkHover()" (mouseout)="onLinkLeave()"
  >
    <p class="montserrat">Ready to get started?</p>
    <a
      class="montserrat"
      target="_blank"
      href="https://twisty-cowbell-dea.notion.site/Book-a-project-with-me-25fb9e196c2b458d94cd3b3f27c07c29"
      >Click here to book your project with me today!</a
    >
  </div>
  <div class="contact-info">
    <p
      class="montserrat-medium"
      (mouseover)="onLinkHover()" (mouseout)="onLinkLeave()"
    >
      <a href="mailto:diginoxe.solutions@gmail.com" target="_blank">
        Email
        <ng-icon name="bootstrapBoxArrowUpRight" size="16px"></ng-icon>
      </a>
    </p>
    <p
      class="montserrat-medium"
      (mouseover)="onLinkHover()" (mouseout)="onLinkLeave()"
    >
      <a
        href="https://www.linkedin.com/in/huzaifa-qureshi-8136481b4/"
        target="_blank"
      >
        Linkedin
        <ng-icon name="bootstrapBoxArrowUpRight" size="16px"></ng-icon>
      </a>
    </p>
  </div>
</div>
