.container{
    background-color: var(--color-tertiary);
    width: 100%;
    height: calc(100vh - 59px);
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    .bio{
        width: 200px;
        padding-right: 40px;
        p{
            color: var(--color-border);
            text-align: justify;
        }
    }
}