<space></space>
<div class="container" [@fadeInOnEnter]>
  <div class="bio montserrat">
    <p class="no-select">
      I'm a Full-Stack Developer and Designer based in Karachi, Pakistan, with a
      passion for crafting exceptional web and app experiences. Specializing in
      Angular, .NET, Ionic, and Flutter, I have the skills to bring your
      digital vision to life.
    </p>
  </div>
  <div class="certi">
    <p class="montserrat">
      <a href="https://www.coursera.org/account/accomplishments/professional-cert/LWFGQU66TWCK" target="_blank" class="ibm-text no-select"
        >IBM FullStack Software Developer Certification
        <ng-icon name="bootstrapBoxArrowUpRight"></ng-icon></a
      >
    </p>
  </div>
</div>