<div class="container" [@fadeInOnEnter]>
  <div class="bio montserrat-medium">
    <p>
      I'm a Full-Stack Developer and Designer based in Karachi, Pakistan, with a
      passion for crafting exceptional web and app experiences. Specializing in
      Angular, Ionic, Django, and Node.js, I have the skills to bring your
      digital vision to life.
    </p>
    <!-- <p>
      Currently, I'm also diving into the world of cybersecurity. Beyond coding,
      I enjoy the art of debate, the thrill of creating robots, and the
      fascination of studying mathematics and physics.
    </p> -->
  </div>
</div>
