  .cursor{
    position: fixed;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 100;
  }

  .expand{
    width: 30px;
    height: 30px;
    transition: width 0.5s, height 0.5s;
  }
  