<div class="main-container toggle">
    <div class="left">
        <div class="tl"></div>
        <div class="ml"></div>
        <div class="bl"></div>
    </div>
    <div class="center">
        <div class="tc"></div>
        <div class="mc"><router-outlet></router-outlet></div>
        <div class="bc"></div>
    </div>
    <div class="right">
        <div class="tr toggle" id="tr"><hamburger-menu (navToggleValue)="toggleNav($event)"></hamburger-menu></div>
        <div class="mr"><navigation></navigation></div>
        <div class="br toggle"></div>
    </div>
</div>