.main-container{
    height: 100dvh;
    display: grid;
    grid-template-columns: var(--frame-size) auto var(--frame-size-2);
    transition: all 1s;
    // background-color: var(--color-tertiary);
    .left , .center , .right{
        display: grid;
        grid-template-rows: var(--frame-size) calc(100dvh - var(--frame-size-3)) var(--frame-size);
        transition: grid-template-rows 1s;
        .tl , .tr , .bl , .br{
            height: var(--frame-size-2);
            width: var(--frame-size-2);
            transition: height 1s;
        }
        .tl, .tc, .tr{
            border-bottom: 2px solid var(--color-border);
        }
        .tl, .ml , .bl{
            border-right: 2px solid var(--color-border);
        }
        .bl, .bc, .br{
            border-top: 2px solid var(--color-border);
        }
        .tr, .mr, .br{
            border-left: 2px solid var(--color-border);
            transition: all 1s;
        }
        .mc{
            outline: 2px solid var(--color-border);
            // overflow-y: hidden;
        }
        .tl , .tr , .bl , .br , .tc , .bc , .mr , .ml{
            background-color: var(--color-tertiary);
            z-index: 2;
        }
    }
}

.main-container{
    &.toggle{
        grid-template-columns: var(--frame-size) auto 300px;
        transition: all 1s;
        .right > .tr , .right > .br {      
            &.toggle{
                width: 300px;
                transition: all 1s;
            }   
        }
    }
}

.main-container{
    .left , .center , .right{
        &.transition{
            grid-template-rows: var(--frame-size) 0 auto;
            transition: grid-template-rows 1s ease-in-out;
            .bl, .br {
                height: calc(100dvh - var(--frame-size));
                transition: height 0.015s;
            }
        }
    }
}