<loader *ngIf="isloading"></loader>
<cursor *ngIf="!breakpoint.isSmall"></cursor>
<!-- <div
  class="main-container"
  [ngClass]="{
    toggle: collapseState,
    'dark-mode': isdarkmode,
    'mobile-size': breakpoint.isSmall
  }"
  [@fadeInOnEnter]
>
  <div class="left" [ngClass]="{ transition: transitionState }">
    <div class="tl"></div>
    <div class="ml">
      <mode-switch (isDarkMode)="toggleMode($event)"
      (mouseover)="onLinkHover()" (mouseout)="onLinkLeave()"
      ></mode-switch>
    </div>
    <div class="bl"></div>
  </div>
  <div class="center" [ngClass]="{ transition: transitionState }">
    <div class="tc"></div>
    <div #mc class="mc">
      <router-outlet>
        <next-slide-btn *ngIf="breakpoint.isSmall"></next-slide-btn
      ></router-outlet>
    </div>
    <div class="bc"></div>
  </div>
  <div class="right" [ngClass]="{ transition: transitionState }">
    <div class="tr" id="tr" [ngClass]="{ toggle: collapseState }">
      <hamburger-menu [uncheckmenu]="collapseState" (navToggleValue)="toggleNav($event)"
      (mouseover)="onLinkHover()" (mouseout)="onLinkLeave()"
      ></hamburger-menu>
    </div>
    <div class="mr">
      <navigation (navToggleValue)="toggleNav($event)"></navigation>
    </div>
    <div class="br" [ngClass]="{ toggle: collapseState }"></div>
  </div>
</div>
<cursor *ngIf="!breakpoint.isSmall"></cursor>
<tooltip [tooltip]="tooltip" *ngIf="showToolTip && !breakpoint.isSmall"></tooltip> -->

<mode-switch (isDarkMode)="toggleMode($event)"
  (mouseover)="onLinkHover()" (mouseout)="onLinkLeave()"
  ></mode-switch>
<!-- Version 2 -->
<div
  class="main-container"
  [ngClass]="{
    toggle: collapseState,
    'dark-mode': isdarkmode,
    'mobile-size': breakpoint.isSmall
  }"
>
<div class="top">
  <div class="tl"></div>
  <div class="tc">
  </div>
  <div class="tr"></div>
</div>
<div class="screen-1">
  <div class="ml"></div>  <div class="mc">
    <app-main></app-main>
  </div>
  <div class="mr"></div>
</div>
<div class="screen-2">
  <div class="bl"></div>
  <div class="bc">
    <app-projects></app-projects>
  </div>
  <div class="br"></div>
</div>
<div class="screen-3">
  <div class="bl"></div>
  <div class="bc">
    <app-info></app-info>
  </div>
  <div class="br" style="z-index: 10"></div>
</div>
<div class="screen-4">
  <div class="bl"></div>
  <div class="bc">
    <app-contact></app-contact>
  </div>
  <div class="br"></div>
</div>
<div class="bottom">
  <div class="bl"></div>
  <div class="bc">
  </div>
  <div class="br"></div>
</div>
</div>
