<div class="main-container toggle-true">
    <div class="left">
        <div class="tl"></div>
        <div class="ml"></div>
        <div class="bl"></div>
    </div>
    <div class="center">
        <div class="tc"></div>
        <div class="mc"><router-outlet></router-outlet></div>
        <div class="bc"></div>
    </div>
    <div class="right">
        <div class="tr" id="tr"><hamburger-menu (navToggleValue)="toggleNav($event)"></hamburger-menu></div>
        <div class="mr"></div>
        <div class="br"></div>
    </div>
</div>