.main-container{
    height: 100dvh;
    display: grid;
    grid-template-columns: 62px auto 60px;
    transition: all 1s;
    .left , .center , .right{
        display: grid;
        grid-template-rows: 62px auto 60px;
        .tl , .tr , .bl , .br{
            height: 60px;
            width: 60px;
        }
        .tl, .tr{
            border-bottom: 2px solid var(--color-border);
        }
        .tl, .bl{
            border-right: 2px solid var(--color-border);
        }
        .bl, .br{
            border-top: 2px solid var(--color-border);
        }
        .tr, .br{
            border-left: 2px solid var(--color-border);
            transition: all 1s;
        }
        .mc{
            outline: 2px solid var(--color-border); ;
        }
    }
}

.main-container{
    &.toggle-true{
        grid-template-columns: 62px auto 300px;
        transition: all 1s;
        .right > .tr , .right > .br {      
            &.toggle-true{
                width: 300px;
                transition: all 1s;
            }   
        }
    }
}
