.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.montserrat-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.montserrat-medium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.montserrat-light{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}