:root{
    --color-primary: #303841;
    --color-secondary: #3A4750;
    --color-tertiary: #EEEEEE;
    --color-accent: #D72323;
    --color-medium: #FF5959;
    --color-border: #000000;
}

// :root{
//     --color-primary: #303841;
//     --color-secondary: #3A4750;
//     --color-tertiary: #222222;
//     --color-accent: #D72323;
//     --color-medium: #FF5959;
//     --color-border: #EEEEEE;
// }