<div class="container">
  <div class="project-container">
    <h2 class="montserrat-bold">Projects</h2>
    <ng-container *ngFor="let project of projects; index as i;" #project >
      <p class="montserrat-medium projects"
      (mouseover)="onLinkHover(i)" (mouseout)="onLinkLeave()">
        {{project.name}}
        <a *ngIf="project.githubLink != ''" href="{{project.githubLink}}" target="_blank">
          <ng-icon name="bootstrapGithub" size="20px"></ng-icon>
        </a>
        <a *ngIf="project.projectLink != ''" href="{{project.projectLink}}" target="_blank">
          <ng-icon name="bootstrapBoxArrowUpRight" size="20px"></ng-icon>
        </a>
      </p>
      <p class="montserrat-light project-caption"
      (mouseover)="onLinkHover()" (mouseout)="onLinkLeave()"
      >{{project.caption}}</p>
    </ng-container>
  </div>
</div>
<image-tooltip [image]="hoverimage" *ngIf="showToolTip && !breakpoint.isSmall">
</image-tooltip>
```