<div class="container" [@fadeInOnEnter]>
    <div class="project-container">
        <h2 class="montserrat-bold">Projects</h2>
        <ng-container *ngFor="let project of projects" #project>
            <p class="montserrat-medium projects">
                {{project.name}}
                <a href="{{project.githubLink}}" target="_blank">
                    <ng-icon name="bootstrapGithub" size="20px"></ng-icon>
                </a>
                <a href="{{project.projectLink}}" target="_blank">
                    <ng-icon name="bootstrapBoxArrowUpRight" size="20px"></ng-icon>
                </a>
            </p>
            <p class="montserrat-light project-caption">
                {{project.caption}}
            </p>
        </ng-container>
    </div>
</div>