nav > div{
    margin-left: 80px;
    p > a{
        cursor: none;
        font-size: 12rem;
        color: var(--color-border);
        text-decoration: none;
    }
    p > a.active{
        color: var(--color-secondary);

    }

}

@media only screen and (max-width: 600px) {
 nav > div {
    margin-left: 42px;
    p > a{
        font-size: 3rem;
     }
 } 
}
