/* You can add global styles to this file, and also import other style files */
body{
    height: 100dvh;
    margin: 0;
    background-color: var(--color-tertiary);
    width: 100vw;
    cursor: none;
    // overflow: hidden;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    // html {
    //   overflow-x: hidden;
    // }
    // body{
    //     cursor: auto;
    // }
}