/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color: var(--color-tertiary);
    width: 100vw;
    cursor: none;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}    

@media only screen and (max-width: 600px) {
    html {
      overflow: hidden;
    }
}