/* You can add global styles to this file, and also import other style files */
body{
    height: calc(100vh - var(--frame-size));
    margin: 0;
    background-color: var(--color-tertiary);
    width: 100vw;
    cursor: none;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    body{
        cursor: auto;
    }
}